<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebFormsDemo.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

          <div class="container">
            <div class="navbar navbar-inverse">
                <nav class="navbar navbar-expand-md navbar-light fixed-top">
                    <a class="navbar-brand" href="Default.aspx" runat="server">
                            <strong>Student-Robbin Law</strong>
                    </a>
                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#navbarMenuName"
                            aria-controls="navbarMenuName" aria-expanded="false"
                            aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMenuName">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                        id="navbarSubMenu" data-toggle="dropdown" 
                                        runat="server" style="color:black"
                                        aria-haspopup="true" aria-expanded="false"> 
                                        Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                                    <a class="dropdown-item"
                                            href="~/Pages/PersonForm.aspx"
                                            style="color:black" runat="server">
                                            PersonForm
                                    </a>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                                    <a class="dropdown-item"
                                            href="~/Pages/Ex05.aspx"
                                            style="color:black" runat="server">
                                            Exercise 05
                                    </a>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                                    <a class="dropdown-item"
                                            href="~/Pages/InClass03.aspx"
                                            style="color:black" runat="server">
                                            InClass 03
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Default.aspx"
                                        style="color:black" runat="server">Home</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="~/About.aspx" runat="server"
                                        style="color:black">About</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="~/Contact.aspx" runat="server"
                                        style="color:black">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav> 
            </div>
        </div>

        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - My ASP.NET Application</p>
            </footer>
        </div>

    </form>
</body>
</html>
